body{
	height: 2600px;
    width: 100%
}
/*hamburger menu*/
header {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    background-color: #FFFFFF;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
header h3#logo {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    float: left;
    font-family: 'Righteous', cursive;
    font-size: 4vw;
    color: black;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav {
    display: inline-block;
    float: right;
    font-family: 'Rubik', sans-serif;
}
header nav a {
    line-height: 150px;
    margin-left: 20px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header nav a:hover {
    color: #9fdbfc;
}
header.smaller {
    height: 75px;
}
header.smaller h3#logo {
    width: 150px;
    height: 75px;
    line-height: 75px;
    font-size: 30px;

}
header.smaller nav a {
    line-height: 75px;
}

@media all and (max-width: 660px) {
    header h3#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    header.smaller {
        height: 75px;
    }
    header.smaller h3#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
    header.smaller nav {
        height: 35px;
    }
    header.smaller nav a {
        line-height: 35px;
    }
}
 
/*hamburger menu end*/
a{
  color: white;
}
a:hover{
  color: #6B1336;
}
h1{
	position: absolute;
  line-height: 1.4;
	font-size: 2.5vw;
	top: 478px;
	color: #1F3E5E;
	text-align: center;
  margin: auto;
  left: 10%;
  width: 80%;
  font-family: 'Roboto Slab', serif;
}
/*p{
  position: relative;
  bottom: -60px;
  text-align: center;
}*/
h3, h2{
  font-size: 1.8vw;
  color: white  ;
  position: relative;
  top: -10px;
  text-align: center;
 font-family: 'Montserrat', sans-serif;

}
.main{
	position: fixed;
	width: 100vw;
	height: 100vw;
	background-color: white;
	top: 0px;
	z-index: -1;
}
/*.mainGradient{
    height: 100vw;
    background: white;  For browsers that do not support gradients 
    opacity: 0.9;
    z-index: -1;
    width: 100%;
    max-width: 100%;

}*/

.img-circle{
  position: relative;
	margin: auto;
	left: 39%;
	/*top: 23%;*/
  top: 175px;
	/*max-height: 500px;*/
	max-width: 250px;
	border-radius: 50%;
	background-size: cover;
	background: no-repeat;
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	z-index: 10;
}
.About{
	background-color: #D64B59;
	position: absolute;
	/*top: 740px;*/
    top: 100vh;
	width: 100%;
	height: 800px;
	z-index: -10;
	/*background-repeat: no-repeat;*/
	background-size: contain;
    z-index: 1;

}
.circle1{
    background-color: #F4F4F4;
    background-image: url(../img/html.png);
    background-size: contain;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 100px;
    left: 25%;
    z-index: 10;
}
.circleShadow1{
    background-color: black;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 105px;
    left: 24%;
    opacity: 0.5;
    z-index: -10;
}
.circle2{
    background-color: #F4F4F4;
    background-image: url(../img/sql.png);

    background-size: contain;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 100px;
    left: 63%;
    z-index: 10;
}
.circleShadow2{
    background-color: black;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 105px;
    left: 62%;
    opacity: 0.5;
    z-index: -10;
}
.languagecontainer{
    position: absolute;
    float: left;
    height:50%;
    padding-top: 240px;
    width: 36%;
    padding-left: 10%;
    font-family: "Oswald", sans-serif;
    color: white;
    z-index: 15;
    overflow: scroll;
}

.languages{
    position: relative;
    z-index: 15;
}
::-webkit-scrollbar {
display: none;
}
.language2container{
     position: absolute;
    float: left;
    left: 44%;
    height:50%;
    padding-top: 240px;
    width: 36%;
    padding-left: 10%;
    font-family: "Oswald", sans-serif;
    color: white;
    z-index: 15;
    overflow: scroll;
}

.languages2{
    position: relative;
    z-index: 15;
}
.border3{
    position: absolute;
    width: 78%;
    height: 2px;
    background-color: white;
    margin: auto;
    bottom: 175px;
    left: 10%;
}
.site{

  top: 65px;
  padding: 5px 10px;
  border: 1px solid white;
  float: left;
  left: 30px;
  position: relative;
  width: 30% !important;
  bottom: 0px;
  text-align: center;
}
.site2{
  bottom: 10px;
  left: 30%;
  padding: 5px 10px;
  border: 1px solid white;
  margin: auto;
  position: absolute;
  width: 30% !important;
  text-align: center;
}
.site:hover{
  background: white;
}
.site2:hover{
  background: white;
}
.git{
  top: 65px;
  position: absolute;
  padding: 5px 10px;
  border: 1px solid white;
  float: right;
  right: 40px;
  position: relative;
  width: 30% !important;
  bottom: 0px;
  text-align: center;
}
.git:hover{
  background: white;
}
.Projects{
	background-color: #3A1C3E;
	position: relative;
	top: 1440px;
	left: 0px;
	width: 100%;
	height: 800px;
	z-index: 10;

}
/*.gradient {
    height: 800px;
    background: red; /* For browsers that do not support gradients */
 /*   background: -webkit-linear-gradient(left, #FFBF90 , #C64071); /* For Safari 5.1 to 6.0 */
  /*  background: -o-linear-gradient(right, #FFBF90, #C64071); /* For Opera 11.1 to 12.0 */
   /* background: -moz-linear-gradient(right, #FFBF90, #C64071); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to right, #FFBF90 , #C64071); /* Standard syntax (must be last) */
    /*z-index: 10;*/
.Project1:hover, .Project2:hover, .Project3:hover, .Project4:hover, .Project5:hover, .Project6:hover {
    -moz-transform: translate(0px, -8px);
    -ms-transform: translate(0px, -8px);
    -o-transform: translate(0px, -8px);
    -webkit-transform: translate(0px, -8px);
    transform: translate(0px, -8px)
}
.Project1{
  position: relative;
  left: 5%;
     float: left;
    width: 25%;
    height:35%;
    margin: 0px 2%;
    background: #6B1336;
    padding-top: 5%;
    margin-top: 3%;
    border-radius: 15px;
}
.projectInfo1{
  padding: 13%;
  position: relative;
  margin: auto;
  width: 70%;
  height: 55%;
  top: 15%;
  padding-bottom: 10px ;
  background: #872055;
  border-radius: 15px;
}
.Project2{
  position: relative;
  left: 5%;
     float: left;
    width: 25%;
    height:35%;
    margin: 0px 2%;
    background: #A04360;
    padding-top: 5%;
    margin-top: 3%;
    border-radius: 15px;
}
.projectInfo2{
  padding: 13%;
  position: relative;
  margin: auto;
  width: 70%;
  height: 55%;
  top: 15%;
  padding-bottom: 10px ;
  background: #CA4F61;
  border-radius: 15px;
}
.Project3{
  position: relative;
  left: 5%;
     float: left;
    width: 25%;
    height:35%;
    margin: 0px 2%;
    background: #DC6D67;
    padding-top: 5%;
    margin-top: 3%;
    border-radius: 15px;
}
.projectInfo3{
  padding: 13%;
  position: relative;
  margin: auto;
  width: 70%;
  height: 55%;
  top: 15%;
  padding-bottom: 10px ;
  background: #ED8A6D;
  border-radius: 15px;
}
.Project4{
  position: relative;
  left: 5%;
     float: left;
    width: 25%;
    height:35%;
    margin: 0px 2%;
    background: #A04360;
    padding-top: 5%;
    margin-top: 3%;
    border-radius: 15px;
}
.projectInfo4{
  padding: 13%;
  position: relative;
  margin: auto;
  width: 70%;
  height: 55%;
  top: 15%;
  padding-bottom: 10px ;
  
  background: #CA4F61;
  border-radius: 15px;
}
.Project5{
  position: relative;
  left: 5%;
     float: left;
    width: 25%;
    height:35%;
    margin: 0px 2%;
    background: #DC6D67;
    padding-top: 5%;
    margin-top: 3%;
    border-radius: 15px;
}
.projectInfo5{
  padding: 13%;
  position: relative;
  margin: auto;
  width: 70%;
  height: 55%;
  top: 15%;
  padding-bottom: 10px ;
  
  background: #ED8A6D;
  border-radius: 15px;
}
.Project6{
  position: relative;
  left: 5%;
     float: left;
    width: 25%;
    height:35%;
    margin: 0px 2%;
    background: #872055;
    padding-top: 5%;
    margin-top: 3%;
    border-radius: 15px;
}
.projectInfo6{
  padding: 13%;
  position: relative;
  margin: auto;
  width: 70%;
  height: 55%;
  top: 15%;
  padding-bottom: 10px ;
  
  background: #A04360;
  border-radius: 15px;
}

.angularapps{
  background: #242529;
  max-height: 1300px;
}
.angularApplications{
  top: 50px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #E8E8E8;
  font-size: 30px;
  margin: auto;
  text-align: center;
}
.title{
  position: absolute;
  top: 5%;
  left: 5%;
  color: #E8E8E8  ;
  font-size: 30px;
}
.info{
  position: relative;
  max-width: 40%;
  padding-right: 5%;
  top: 5%;
  float: right;
  color: #E8E8E8  ;
  font-size: 30px;
}
.App1{
  position: relative;
  top: 100px;
  margin: 10px auto;
  height: 300px;
  width:80%;
  background: transparent;
  border-radius: 5px;
  border: 2px solid grey;
}
.App2{
  position: relative;
  margin: 10px auto;top: 100px;
  height: 300px;
  width:80%;
  background: transparent;
  border-radius: 5px;
  border: 2px solid grey;
}

.App3{
  position: relative;
  margin: 10px auto;top: 100px;
  height: 300px;
  width:80%;
  background: transparent;
  border-radius: 5px;
  border: 2px solid grey;
}
.App1:hover{
  background: #131315;
  border-radius: 5px;
   border: 2px solid white;
}
.App2:hover{
  background: #131315;
  border-radius: 5px;
   border: 2px solid white;
}
.App3:hover{
  background: #131315;
  border-radius: 5px;
   border: 2px solid white;
}
/*.appLinks{
  position: absolute;
  width: 200%;
  height: 30%;
  padding-left: 10%;
  bottom: 10%;
}*/
.siteApp{
  left: 5%;
  bottom: 5%;
  color: #3F7CFF;
  text-decoration:none !important;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 10px;
  border: 1px solid #3F7CFF;
  border-radius: 15px;
  float: left;
  position: absolute;
  width: 10% !important;
  text-align: center;
}
.siteGit{
  left: 20%;
  bottom: 5%;
 color: #3F7CFF;
 font-family: 'Montserrat', sans-serif;
 text-decoration:none !important;
  padding: 5px 10px;
  border: 1px solid #3F7CFF;
  border-radius: 15px;
  position: absolute;
  width: 10% !important;
  text-align: center;
}
.siteApp:hover{
  background: #3F7CFF;
  color: white;
}
.siteGit:hover{
  background: #3F7CFF;
  color: white;
}

.return{

  bottom: -140px;
  padding: 10px 5px;
  border: 1px solid white;
   font-family: 'Montserrat', sans-serif;
  float: right;
  right: 10%;
  position: relative;
  width: 15%;
  text-align: center;
  text-decoration:none !important;
}

.return:hover{
  background: white;
  color: #242529;
}
/*Contact Section*/

.Contact{
    position: absolute;
    background-color: #280542;
    top: 800px;
    height: 90%;
    width: 100%;
}
.contact-info{
    text-align: center;
    color: white;
    font-size: 5vw;
}

.insta{
    position: absolute;
    left: 30%;
    bottom: 30px;
    font-size: 2vmin;
    color: #fff;
}
.linkedIn{
    position: absolute;
    left: 60%;
    bottom: 30px;
    font-size: 2vmin;
    color: #fff;
}
.Github{
    position: absolute;
    left: 46.5%;
    bottom: 30px;
    color: #fff;
    font-size: 2vmin;
}

h4{
  position: relative;
  margin: auto;
  font-size: -10px;
  left: -15%;
  font-size: 4vw;
  color: white;
  top: 10%;
}

.insta:hover {color: #D64B59}


.Github:hover {color: #D64B59}

.linkedIn:hover { color: #D64B59}

/*.Github:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
*/

/*hover*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  /*background-color: black;*/
  opacity: 0.7;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 
  1px solid #FFF;
  border-top: 1px solid #FFF;
  background-color: black;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*submit form*/

.submit{
  position: relative;
  padding-left: 39%;
  top: 10%;
}

input {
    width: 30%;
    margin: 20px 0 15px 0;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

input[placeholder] {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    text-align: left;
}

input[type=submit] {
    width:100px;
    margin: 20px 0 0 0;
}

input:focus {
    outline: none;
}

textarea {
    width: 30%;
    box-sizing: border-box;
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    resize: none;
    outline: none;
    resize:none;
    overflow:hidden;
    height: 1.7em;
    margin: 20px 0 15px 0;
}

textarea[placeholder] {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    text-align: left;
}

.inputarea{
  width: 30vw;
  height: 200px;
  overflow: scroll;
}

/*.scrollable {
    height: 2000px;  or any value 
    overflow: auto;
    z-index: 20;
}*/